$BorderRadius: 6px;
$placeholderColor: #d2d2d2;
$LightFontColor: #b5b5c3;
$DarkFontColor: #464e5f;

body {
    padding: 0 20px;
}
.Cont {
    height: 600px;
    overflow-y: scroll;
}
header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    h1 {
        font-size: 24px;
        color: #212121;
        font-weight: 500;
        margin-bottom: 10px;
    }
    p {
        color: #b5b5c3;
        font-size: 13px;
    }
    .inputsContainer {
        max-width: 71%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .inputBox {
            width: 100%;
            display: flex;
            gap: 30px;
        }
        input {
            max-width: 320px;
            width: 100%;
            height: 48px;
            border: 1px solid #e2e1e5;
            border-radius: $BorderRadius;
            padding-left: 15px;
            outline: none;
        }
        input::placeholder {
            color: $placeholderColor;
        }
        button {
            width: 80px;
            height: 34px;
            background-color: #f64e60;
            border: none;
            color: #ffffff;
            border-radius: $BorderRadius;
            cursor: pointer;
        }
    }
}

table {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0 auto;
    text-align: left;
    border-collapse: collapse;

    thead {
        height: 50px;
        background-color: #f3f6f9;
        width: 1000px;
        th {
            color: $LightFontColor;
            font-size: 14px;
            font-weight: 500;
        }
        th:first-child {
            border-top-left-radius: $BorderRadius;
            border-bottom-left-radius: $BorderRadius;
            padding-left: 15px;
            color: #464e5f;
        }
        th:last-child {
            border-top-right-radius: $BorderRadius;
            border-bottom-right-radius: $BorderRadius;
        }
    }
    tbody {
        td {
            font-size: 15px;
            height: 70px;
        }
        td:first-child {
            padding-left: 15px;
            color: $DarkFontColor;
            width: 25%;
            font-weight: 600;
            padding-right: 10px;
        }
        td:nth-child(2) {
            color: $LightFontColor;
            padding-right: 15px;
        }
        td:nth-child(3) {
            color: $DarkFontColor;
            font-weight: 600;
        }
        td:nth-child(4) {
            text-align: right;
            width: 25%;
        }
        button {
            max-width: 95px;
            width: 100%;
            height: 35px;
            background-color: #c9f7f5;
            border: none;
            color: #1bc5bd;
            border-radius: $BorderRadius;
            cursor: pointer;
            font-weight: 600;
        }
    }
}
tbody::before {
    content: ".";
    line-height: 1.2em;
    color: white;
    display: block;
}
